<ng-container *ngIf="customersDataExist">
  <div class="cards-container">
    <mat-card
      *ngFor="let customer of customersList; let i = index"
      class="card-content">
      <mat-card-title>{{ customer.userName }}</mat-card-title>
      <mat-card-subtitle>{{ customer.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ customer.gender }}</mat-card-subtitle>
      <mat-card-content *ngIf="customer.showDetails">
        <p>{{ customer.firstName }} {{ customer.lastName }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-stroked-button
          color="primary"
          (click)="toggleShowDetails(i)">
          Details
        </button>
        <button
          mat-stroked-button
          color="accent"
          (click)="openDialog(customer.userName, i)">
          REMOVE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
