<div *ngIf="isLoading" class="center-content">
  <app-loading></app-loading>
</div>
<div *ngIf="!isLoading" class="products-container">
  <div fxLayout="row">
    <div fxFlex="88" fxFlex.sm="75" fxFlex.xs="50"></div>
    <div
      fxFlex="12"
      [ngClass]="{ 'center-content': (emptyProducts | async) }"
      [ngStyle]="{ 'display: table': (emptyProducts | async) }">
      <button mat-raised-button color="primary" (click)="addNewProduct()">
        Add New Fruit
      </button>
    </div>
  </div>
  <div *ngIf="summerFruitsPage.length > 0">
    <h3 class="header">Summer Fruits</h3>
    <div class="cardContainer">
      <app-card
        *ngFor="let item of summerFruitsPage"
        name="{{ item.name }}"
        price="{{ item.price }}"
        image="{{ item.image }}"
        category="summerFruits"
        (productDeleted)="deleteProductById(item.id)"
        (productEdited)="editProductById(item.id)">
      </app-card>
    </div>
    <div>
      <div class="btnContainer">
        <button
          color="accent"
          mat-icon-button
          aria-label="arrow_back"
          (click)="PreviousPage(currentSummerPage, summerFruitsArray, 'summer')"
          [disabled]="currentSummerPage === 1">
          <mat-icon class="icon">arrow_back</mat-icon>
        </button>
        <button
          color="accent"
          mat-icon-button
          aria-label="arrow_forward"
          (click)="NextPage(currentSummerPage, summerFruitsArray, 'summer')"
          [disabled]="currentSummerPage === summerFruitsPages">
          <mat-icon class="icon">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="winterFruitsPage.length > 0">
    <h3 class="header">Winter Fruits</h3>

    <div class="cardContainer">
      <app-card
        *ngFor="let item of winterFruitsPage"
        name="{{ item.name }}"
        price="{{ item.price }}"
        image="{{ item.image }}"
        category="winterFruits"
        (productDeleted)="deleteProductById(item.id)"
        (productEdited)="editProductById(item.id)">
      </app-card>
    </div>
    <div>
      <div class="btnContainer">
        <button
          color="accent"
          mat-icon-button
          aria-label="arrow_back"
          (click)="PreviousPage(currentWinterPage, winterFruitsArray, 'winter')"
          [disabled]="currentWinterPage === 1">
          <mat-icon class="icon">arrow_back</mat-icon>
        </button>
        <button
          color="accent"
          mat-icon-button
          aria-label="arrow_forward"
          (click)="NextPage(currentWinterPage, winterFruitsArray, 'winter')"
          [disabled]="currentWinterPage === winterFruitsPages">
          <mat-icon class="icon">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
