@import '@angular/material/theming';
@import '../../../assets/scss/constants.scss';

@mixin product-header-theme($theme) {
  $primary: map-get($map: ($theme),$key: primary);
  .header {
    color: mat-color($primary);
  }
}
.center-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.products-container {
  margin-top: 2rem;
}

h3 {
  margin-left: 25px;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btnContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  button:disabled {
    cursor: not-allowed;
  }
}
.loading {
  text-align: center;
  margin-top: 10%;
}
.icon {
  transform: scale(1.2);
}
