$gray: #9b9b9b;
$dark_gray: #1e1d1df2;
$green_color: #76ff03;
$blue_color: #0376ff;
$pink_color: #ff0376;
$white_color: #ffffff;
$red_error_color: #e1341e;
$green_color_filter: invert(83%) sepia(33%) saturate(2438%) hue-rotate(39deg)
  brightness(104%) contrast(108%);
$pink_color_filter: invert(20%) sepia(100%) saturate(5944%) hue-rotate(325deg)
  brightness(101%) contrast(106%);
