<div
  class="content"
  fxLayout="row"
  fxFlexFill
  fxLayoutGap="2rem"
  fxLayoutGap.xs="0px"
  class="product-form">
  <div fxLayout="column" fxFlex="100">
    <form
      (ngSubmit)="addNewFruit()"
      [formGroup]="productForm"
      #formDirective="ngForm">
      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="2rem"
        fxLayoutGap.sm="0rem"
        fxLayoutGap.xs="0px">
        <div fxLayout.xs="column" fxFlex="35">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Fruit name" />
          </mat-form-field>
        </div>
        <div fxLayout.xs="column" fxFlex="35">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Price</mat-label>
            <input
              (keypress)="keyPressNumbersDecimal($event)"
              matInput
              formControlName="price"
              placeholder="Fruit price"
              type="number" />
          </mat-form-field>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="2rem"
        fxLayoutGap.sm="0rem"
        fxLayoutGap.xs="0px">
        <div fxLayout.xs="column" fxFlex="35">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Fruit Type</mat-label>
            <mat-select formControlName="fruitType" name="food">
              <mat-option
                *ngFor="let fruit of FruitsTypes"
                [value]="fruit.value">
                {{ fruit.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout.xs="column" fxFlex="35">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Image</mat-label>
            <input
              class="image_input"
              readonly="true"
              matInput
              formControlName="imageName"
              placeholder="Image"
              (click)="openInput()" />
          </mat-form-field>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="2rem"
        fxLayoutGap.sm="0rem"
        fxLayoutGap.xs="0px">
        <div
          fxLayout="column"
          fxLayout.xs="column"
          fxFlex="35"
          fxLayoutGap="2rem">
          <input
            #imageInput
            type="file"
            (change)="selectFile(imageInput)"
            accept=".png, .jpg"
            [fxHide]="true"
            id="fileInput" />
          <img
            fxFlex
            fxLayout.xs="column"
            [src]="imageURL"
            *ngIf="imageURL"
            alt="imageURL" />
          <p fxFlex fxLayout.xs="column">
            {{ imageMsg }}
          </p>
        </div>
        <div fxLayout.xs="column" fxFlex="35">
          <button color="primary" mat-raised-button type="submit" class="mr-1">
            <ng-container *ngIf="!editProductFormMode">
              Submit Add
            </ng-container>
            <ng-container *ngIf="editProductFormMode">
              Submit Edit
            </ng-container>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
