<div [ngClass]="{ 'dark-theme': isDarkTheme | async }" class="root dark-theme">
  <div class="mat-app-background" style="min-height: 100%">
    <ng-container *ngIf="!isOnline">
      <app-no-internet></app-no-internet>
    </ng-container>
    <ng-container *ngIf="isOnline">
      <ng-container *ngIf="(isAuthenticated | async) === false">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-container *ngIf="isAuthenticated | async">
        <app-layout>
          <router-outlet></router-outlet>
        </app-layout>
      </ng-container>
    </ng-container>
  </div>
</div>
