@import '../../../assets/scss/constants.scss';

.container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  margin-bottom: 2rem;
}
