@import '../../../assets/scss/constants.scss';

.container {
  display: flex;
  height: 100vh;
  mat-card {
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 10px 0px $gray_color, 0 15px 5px 0 $gray_color, 0 5px 5px 0 $gray_color;
  }
  mat-card-actions {
    text-align: center;
    button {
      margin: 1rem;
    }
  }
}
form {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 1.5rem;
  mat-form-field {
    display: block;
    margin: 1rem;
  }
}
