<ng-container *ngIf="data.title">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</ng-container>
<div mat-dialog-content>
  <ng-container
    *ngIf="data.template"
    [ngTemplateOutlet]="data.template"></ng-container>
</div>
<ng-container *ngIf="!data.actions">
  <div mat-dialog-actions>
    <button color="accent" mat-raised-button (click)="onCancel()">
      {{ cancelButtonLabel }}
    </button>
    <button
      color="primary"
      mat-raised-button
      [mat-dialog-close]="data.customer"
      cdkFocusInitial>
      {{ submitButtonLabel }}
    </button>
  </div>
</ng-container>
